// -----------------------------------------------------------------------------
// This file contains typography styles
// -----------------------------------------------------------------------------

body {
  color: $text-color;
  background: $background-color;
  font: normal 100% / 1.4 $text-font-stack;
}
